* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  color: #000;
  font-family: Roboto, sans-serif;
  background-color: #f8f4f4;
}

.for-download-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bold-text {
  font-weight: 700;
}

.for-download-container {
  min-height: 75px;
  width: 100%;

  p {
    text-align: center;
  }
}

.gray-text {
  color: #4f6367;
}

.tertiary {
  color: #e6997a;
}

.link {
  text-decoration: none;
}

.phone-image {
  width: 400px;
  margin-top: 60px;
  min-height: 300px;
}

@media only screen and (min-width: 250px) and (max-width: 550px) {
  body {
    background-size:auto 2250px
  }
  .header-top {
    flex-direction: column;
  }
}

@media only screen and (min-width: 250px) and (max-width: 400px) {
  body {
    background-size:auto 2500px
  }

  .for-download-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

}

@media only screen and (min-width: 250px) and (max-width: 750px) {
  .phone-image {
    width: 100%
  }
}

@media only screen and (min-width: 925px) and (max-width: 975px) {
  .phone-image {
    width: 100%
  }

  body {
    background-size: auto 1350px
  }

  .header {
    padding-bottom: 50px
  }
}
