<header class="header">
  <h2 class="gray-text bold-text">Online reserve-rings system, 100% gratis</h2>
  <div class="header-top">
    <div class="for-download-container">
      <p class="gray-text">DOWNLOAD DE APP EN START DIRECT!</p>
      <div class="for-download-content" style="background-color: #ededed;">
        <a href="https://apps.apple.com/be/app/booky-booky/id6475268157">
          <img
            src="assets/images/apple-app-store-badge.svg"
            alt="apple app store download image"
            class="download-popup" style="width: 150px;">
        </a>
        <a href="https://play.google.com/store/apps/details?id=app.bookybooky.mobile">
          <img src="assets/images/google-play-store-badge.png" alt="android play store download image"
               class="download-popup" style="width: 175px;">
        </a>
      </div>
    </div>
    <button class="link gray-border">
      <a href="https://bookybooky.app/">Vragen? Bel ons!</a>
    </button>
    <button class="link orange-border">
      <a href="https://bookybooky.app/">Agenda in website integreren? <span class="tertiary bold-text">Bel ons!</span></a>
    </button>
  </div>
</header>

<section class="content">
  <div class="content-left">
    <h3 class="gray-text bold-text">Beheer jij nog zo jouw afspraken?</h3>
    <img src="assets/images/phone-simple.png" alt="Planner with notes">
  </div>
  <div class="content-right">
    <h3 class="gray-text bold-text">Automatiseer jouw afspraken!</h3>
    <img src="assets/images/phone-simple.png" alt="Woman on the phone">
  </div>
</section>

<section class="features">
  <div class="features-left-side">
    <div class="phone-image-container">
      <img class="phone-image" src="assets/images/phone-simple.png" alt="App interface">
    </div>
    <div class="for-download-container">
      <p>DOWNLOAD DE APP EN START DIRECT!</p>
      <div class="for-download-content" style="background-color: #ededed;">
        <a href="https://apps.apple.com/be/app/booky-booky/id6475268157">
          <img
            src="assets/images/apple-app-store-badge.svg"
            alt="apple app store download image"
            class="download-popup" style="width: 150px;">
        </a>
        <a href="https://play.google.com/store/apps/details?id=app.bookybooky.mobile">
          <img src="assets/images/google-play-store-badge.png" alt="android play store download image"
               class="download-popup" style="width: 175px;">
        </a>
      </div>
    </div>
  </div>
  <div class="features-right-side">
    <h3>Waarom Booky Booky?</h3>
    <ul>
      <li>100% gratis</li>
      <li>Afspraken worden <span class="bold-text">geautomatiseerd</span>, dus klanten boeken zelf een afspraak. Wanner zij het willen</li>
      <li>Plug-in om <span class="bold-text">agenda op website</span> te integreren is mogelijk. Bel ons voor meer info</li>
      <li>Simpele app, makkelijk te navigeren</li>
      <li>
        <span class="bold-text">Kwaliteitsvolle helpdesk</span>
        Hulp nodig of vragen? Mail naar
        <a href="mailto: info@bookybooky.app" class="link tertiary bold-text">Info&#64;bookybooky.app</a>
        of bel naar
        <a class="link tertiary bold-text" href="tel:+32456773732">+32 456 77 37 32</a>
      </li>
      <li>Belgish product</li>
      <li>Elke maand worden <span class="bold-text">verbeteringen en nieuwe specificaties</span> uitgebracht. Gesuggereerd door onze klanten</li>
    </ul>
  </div>
</section>

<footer class="footer">
  <div class="download-sub-title">
    Hulp nodig of vragen?
    <a href="mailto: info@bookybooky.app" class="link tertiary bold-text">Info&#64;bookybooky.app</a>
    of bel naar
    <a  class="link tertiary bold-text" href="tel:+32456773732">+32 456 77 37 32</a>
  </div>
  <div class="download-title">Maak <span class="gray-text bold-text">gratis</span> jouw account aan</div>
  <div class="for-download-content">
    <a href="https://apps.apple.com/be/app/booky-booky/id6475268157">
      <img src="assets/images/apple-app-store-badge.svg"
           alt="apple app store download image"
           class="download-popup"
           style="width: 150px;">
    </a>
    <a href="https://play.google.com/store/apps/details?id=app.bookybooky.mobile">
      <img src="assets/images/google-play-store-badge.png"
           alt="android play store download image"
           class="download-popup"
           style="width: 175px;">
    </a>
  </div>
</footer>
